<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sentiment Analyst URL</title>
    </head>
    <body> 
    <div class="jumbotron jumbotron-fluid w-100">
            <div class="row">
                <div class="col-md text-center">
                    <form align="center" method="POST" action="/">
                        <div class="form-group">
                          <label><h1>Input URL</h1></label><br>
                          <input type="text"  name="url">
                        </div>
                        <button type="submit" class="btn btn-secondary" value="submit">Submit</button>
                      </form>
                </div>
            </div>
    </div>    
    </body>
</html>
