<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sentiment Analyst URL</title>
    </head>
    <body>
     <div class="jumbotron jumbotron-fluid w-100">
            <div class="row">
                <div class="col-md text-center">
                    <form align="center" method="POST" action="/">
                        <div class="form-group">
                          <label><h1>Input URL</h1></label><br>
                          <input type="text"  name="url">
                        </div>
                        <button type="submit" class="btn btn-secondary" value="submit">Submit</button>
                      </form>
                </div>
            </div>
    </div>  
        <div class="jumbotron jumbotron-fluid">
            <div class="row" "center">
            <table border="1" cellpadding=3 cellspacing=3
            align=center width="45%">
             <caption><h3>Hasil</h3></caption>
                <tr>
                    <td rowspan="1">The URL </td>
                    <td colspan="1">Sentiment Analys</td>
                </tr>
                <tr>
                    <td>{{ url }}</td>
                    <td>{{ analy }}</td>
                </tr>
            </table>
            </div>
        </div>
    </body>
</html>
